[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
pyjwt = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
