[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-script = "*"
flask-migrate = "*"
pip = "*"
install = "*"
pyjwt = "*"
termcolor = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
